<div class="center jumbotron">
  <h1>タビナビ</h1>

  <h2>
    おすすめスポットを共有し、旅を取り入れることができます。<br>
    　メールアドレス：@@@@@@@<br>
    パスワード：*********<br>
  </h2>

  <%= link_to "目的地を検索する", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "ログインする", '#', class: "btn btn-lg btn-primary" %>

</div>

