.home{
  background-image: url(00.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.home_btn{
  text-align:center;
}
